<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../elements.html">

<!--

Left Nav + List + Detail

 -->
<dom-module id="my-layout">

  <link rel="import" type="css" href="my-layout.css">

  <template>


    <paper-drawer-panel id="mainDrawerPanel" class="main-drawer-panel" main responsive-width="600px" drawer-width="[[_computeListWidth(_isMobile)]]" drawer-toggle-attribute="list-toggle" narrow="{{_isMobile}}">

      <paper-header-panel class="list-panel" drawer>

        <!-- List Toolbar -->
        <paper-toolbar>
          <span>EsoIDE</span>
        </paper-toolbar>

        <!-- List -->
        <paper-menu class="list" on-iron-activate="_listTap" selected="{{item}}" attr-for-selected="item-name">
            <template is="dom-repeat" items="{{languages}}">
                <paper-item item-name$="{{item.name}}">{{item.realname}}</paper-item>
            </template>

        </paper-menu>

      </paper-header-panel>

      <paper-header-panel class="content-panel" main>

        <!-- Main Toolbar -->
        <paper-toolbar>
          <paper-icon-button icon="arrow-back" list-toggle></paper-icon-button>
        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <my-ide language="{{item}}"></my-ide>
        </div>

      </paper-header-panel>

    </paper-drawer-panel>


  </template>

  <script>
    Polymer({

      is: 'my-layout',
      properties: {
        item: {
          type: String,
          value: 'slash',
          notify: true,
          observer: '_onItemChange'
        },
        languages: {
          type: Array,
          notify: true
        }
      },

      _computeListWidth: function(isMobile) {
        // when in mobile screen size, make the list be 100% width to cover the whole screen
        return isMobile ? '100%' : '190px';
      },

      ready: function() {
        window.that = this;
        this.languages = app._toArray(app.settings);
      },

      _listTap: function() {
        this.$.mainDrawerPanel.closeDrawer();
      },

      _onItemChange: function(value) {
        console.log('changed to ' + value);
      }

    });
  </script>

</dom-module>
