/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

:host {
  display: block;
}
.nav {
  border-right: 1px solid #ccc;
}
.list-panel {
  background-color: #fafafa;
}
.list-panel {
  --paper-header-panel-standard-container: {
    border-right: 1px solid #ccc;
  }
  ;
}
paper-toolbar {
  background-color: #42A5F5;
}
.list {
  padding: 0;
}
.list paper-item {
  height: 80px;
  font-family: monospace;
  border-bottom: 1px solid #dedede;
  background-color: #fafafa;
}
.main-drawer-panel:not([narrow]) [list-toggle] {
  display: none;
}
.content {
  padding: 8px 8px 8px 8px;
}
