<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="my-ide">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      span,
      input {
        @apply(--paper-font-body2);
      }
    </style>

    <h2 class="page-title">{{languageName}}</h2>
    <paper-textarea value="{{currentProgram::input}}" id="codeContent"></paper-textarea>
    <paper-textarea value="{{programInput::input}}" id="inputContent"></paper-textarea>
    <paper-button raised onClick="app.ide._run()">Run</paper-button>
    <paper-button>Save</paper-button>
    <paper-textarea id="output"></paper-textarea>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-ide',

        properties: {
          language: {
            type: String,
            notify: true,
            observer: '_onLanguageChange'
          },
          languageName: {
            type: String,
            notify: true
          },
          currentProgram: {
            type: String
          },
          programInput: {
            type: String
          }
        },
        _onLanguageChange: function(language) {
          if (app.settings !== undefined) {
            this.languageName = app.settings[language].realname;
            if(this.$.inputContent.hasAttribute("hidden")){
                if(app.settings[language].input){
                    this.$.inputContent.toggleAttribute("hidden")
                }
            }else{
                if(!app.settings[language].input){
                    this.$.inputContent.toggleAttribute("hidden")
                }
            }
          }
        },

        ready: function() {
          app.ide = this;
        },

        _run: function() {
          var interpreterFunction = eval(app.settings[this.language].interpreter); // Returns the interpreter function
          console.log("Starting " + this.language + " interpreter");
          var code = this._getCode();
          var input = this.programInput;
          var context = this;
          interpreterFunction(function(result){
              context.$.output.value = htmlDecode(result);
          }, input, code);

        },

        _getCode: function() {
          return this.currentProgram;
        }

      });
    })();
  </script>
</dom-module>
